.buttonWrapper button {
    border-radius: 4px;
    background-color: #5b5858;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: small;
    padding: 8px 0 ;
    width: 100px;
    cursor: pointer;
}


.buttonWrapper button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.9s;
}

.buttonWrapper button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.9s;
}
.buttonWrapper button:hover {
    transition: 0s;
    color: #ffffff;
    background-color: rgb(152, 0, 0);
    transition: 0.9s;
}

.buttonWrapper button:hover span {
    padding-right: 25px;
}

.buttonWrapper button:hover span:after {
    opacity: 1;
    right: 0;
}
.buttonWrapper button:active {
    background-color: rgb(253, 0, 0);
}